body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background-color: yellow;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: #2a8287;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

.imres {
  width: 100;
  height: auto;
}

.bigger {
  text-shadow: -10px 8px 15px #171a1b54;
  font-size: 7rem;
  background: url("../assets/prueba3.svg");
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.dots {
  background-image: url("../assets/prueba.svg");
  background-position: initial;
  background-repeat: no-repeat;
  height: 100vh;
}

h2 {
  color: #2a8287;
  font-size: 4rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-left: 3rem;
}

.about-txt {
  padding: 2rem;
  font-size: 1.6rem;
  width: 40rem;
  text-align: justify;
}

nav {
  background-color: white;
  height: 3rem;
}

.centers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.foot {
  background-color: #b7efc8;
  height: 7vh;
  list-style: none;
  padding: 1rem;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  ...;
}

/* Medium devices and (tablets, 768px and up)*/
@media (min-width: 768px) {
  body{
    background-color: red;
  }
  .title {
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    margin-top: -3rem;
  }

  .bigger {
    text-shadow: -10px 8px 15px #171a1b54;
    font-size: 15rem;
    background: url("../assets/prueba2.svg");
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .second-bg {
    background: url("../assets/about.svg");
    background-size: cover;
    height: 100vh;
  }

  .square {
    background-color: white;
    height: 50vh;
    width: 50vh;
    margin: 15rem;
    border: 2rem solid #dcf2f4;
    z-index: 1;
  }

  h2 {
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 6rem;
    font-weight: 500;
    margin-top: 30vh;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  body{
    background-color: white;
  }
  .title {
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    margin-top: -3rem;
  }

  .bigger {
    text-shadow: -10px 8px 15px #171a1b54;
    font-size: 15rem;
    background: url("../assets/prueba2.svg");
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .second-bg {
    background: url("../assets/about.svg");
    background-size: cover;
    height: 100vh;
  }
  
  .third-bg {
    background: url("../assets/contacto.svg");
    background-size: cover;
    height: 100vh;
  }


  h2 {
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 8rem;
    font-weight: 500;
    margin-top: 20vh;
    text-shadow: -8px 4px 4px #a3a1a1;
  }

  .about {
    margin-left: -3rem;
  }

  .trabajos {
    width: 100%;
    height: 40vh;
    background-color: rgb(228, 228, 228);
    border: 1rem solid white;
  }

  #contacto{
    margin-left: 15rem;
  }

  .contacto-txt{
    margin-left: 15rem;
    font-size: 4rem;
    list-style: none;
    margin-top: -5rem;
  }
  
  .contacto-txt:hover{
    color: #2a8287;
  }
}
